{% extends "layouts/main.html" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% set pageName="Submitted" %}

{% block content %}

   
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
          {{data['issues'].length | plural("issues")}} submitted
          </h1>
        </div>
         <p class="govuk-body">Thank you for reporting. </p>
       <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          We will investigate each issue to learn how to improve the ways our service checks documents. 
        </p>
        <p class="govuk-body">
          If you have shared your email address, we may contact you later to ask for more information.
        </p>

             <p class="govuk-body">
         Return to your current list of <a href="documents" class="govuk-link">document check reports</a>. 
        </p>
      
      </div>
    </div>
  </main>
</div>

 

{% endblock %}