{% extends "layouts/main.html" %}

{% block pageTitle %}
Document Fraud Detection Service - Version 2
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Version 5
    </h1>

    {{ govukButton({
      text: "Start now",
      href: "/prototypes/feedback-mvp/sign-in",
      isStartButton: true
    }) }}

    <h2 class="govuk-heading-m">
Shortcuts
</h2>
<ul class="govuk-list govuk-list--bullet govuk-!-margin-top-0 govuk-!-margin-bottom-4">

    <li>
        <a href="/prototypes/feedback-mvp/document-100" class="govuk-link">
Feedback link</a>
</li>
  <li>
        <a href="/prototypes/feedback-mvp/sign-in" class="govuk-link">
Sign in page - version 1</a>
</li>
 <li>
        <a href="/prototypes/feedback-mvp/sign-in-v2" class="govuk-link">
Sign in page - version 2</a>
</li>
  <li>
        <a href="/prototypes/feedback-mvp/documents" class="govuk-link">
Document checks index page</a>
</li>
</ul>

{% endblock %}