{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageName="Sign in to the Document Fraud Detection Service" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
     Sign in to the Document Fraud Detection Service
    </h1>
    
       
   
      <p class="govuk-body"> This service highlights features of a document’s pages or file properties to help you find out if the file has been edited. </p>
           <p class="govuk-body">
        It does not indicate conclusively that fraud has taken place but provides signals to consider during your document review.
       </p>


        {{ govukButton({
    text: "Sign in",
    href: "documents-none"
    }) }}
       <h2 class="govuk-heading-m"> What you can check </h2>
        <ul class="govuk-list govuk-list--bullet">
         <li>bank statements</li>
         <li>birth certificates</li>
         <li>council tax documents</li>
         <li>NHS letters</li>
         <li>passports</li>
         <li>school letters</li>
         <li>tenancy agreements</li>
         <li>utility bills</li>
         <li>wage slips</li>
      </ul>
    <p class="govuk-body">This list is not exhaustive. </p>

     {{ govukInsetText({
      text: "The service does not analyse content with third-party artificial intelligence (AI), understand what the words or images on the pages mean or compare results against other documents. "
     }) }}
  
        <p class="govuk-body">
       If you feel further investigation is needed during your review, you may use the information the service provides to support your referral.
      </p>
      
   


 
  </div>
</div>
{% endblock %}