{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageName="Document checks" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Document checks
    </h1>
    
    <p class="govuk-body">There are no document check reports. </p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What is a document check?
        </span>
      </summary>
      <div class="govuk-details__text">
      <p class="govuk-body"> We check each document against a set of criteria to detect possible document tampering in the document's content (visible) or data (hidden). These checks suggest further areas to examine within your own review.
       </p>
       <p class="govuk-body"> These checks do not:</p>
        
        <ul class="govuk-list govuk-list--bullet">
          <li>understand what the content in the document contextually means</li>
          <li>assume relationships between other documents</li>
          <li>indicate conclusively that fraud is present</li>
        </ul>
        <p class="govuk-body">
        If you determine further investigation is needed by a decision maker or investigations team, you may include the information provided in these checks to support your review.
      </p>
        <p class="govuk-body">You can upload:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>passports</li>
      <li>birth certificates</li>
      <li>utility bills</li>
      <li>tenancy agreements</li>
      <li>wage slips</li>
      <li>bank statements</li>
      <li>council tax documents</li>
      <li>NHS letters</li>
      <li>school letters</li>
    </ul>
     </div>
    </details>
  

    {{ govukButton({
    text: "Upload documents",
    href: "/prototypes/DFP-948/upload-documents"
    }) }}

  </div>
</div>

{% endblock %}