{% extends "layouts/main.html" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% set pageName="Documents" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set html %}
    <h3 class="govuk-notification-banner__heading">
      The documents were uploaded
    </h3>
    <p class="govuk-body">Please allow a few minutes for processing, before viewing the results.</p>
    {% endset %}

    {% if data['notifySuccess'] == 'visible' %}

    {{ govukNotificationBanner({
    html: html,
    type: "success"
    }) }}

    {% else %}

    <!-- hide notification -->

    {% endif %}

    <h1 class="govuk-heading-xl">
      Documents
    </h1>

  </div>
</div>

{{ govukButton({
text: "Upload documents",
href: "/prototypes/beta-feb-26/upload-documents"
}) }}

{{ govukWarningText({
text: "Documents will expire 7 days after being uploaded.",
iconFallbackText: "Warning"
}) }}

<p class="govuk-hint">Showing 2 of 2</p>
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Name</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Anomalies</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Expiry</th>
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Scenario 1</th>
      <td class="govuk-table__cell">
        {{govukTag({
        text: "Detected",
        classes: "govuk-tag--red"
        })}}
      </td>
      <td class="govuk-table__cell">7d</td>
      <td class="govuk-table__cell">
        <a href="/prototypes/beta-feb-26/scenario-1" class="govuk-link">View report</a>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Scenario 2</th>
      <td class="govuk-table__cell">
        {{govukTag({
        text: "Detected",
        classes: "govuk-tag--red"
        })}}
      </td>
      <td class="govuk-table__cell">7d</td>
      <td class="govuk-table__cell">
        <a href="/prototypes/beta-feb-26/scenario-2" class="govuk-link">View report</a>
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}