{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% set pageName="Document checks" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Document checks
    </h1>
    
    <p class="govuk-body">There are no document check reports. </p><p >You can upload:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>passports</li>
      <li>birth certificates</li>
      <li>utility bills</li>
      <li>tenancy agreements</li>
      <li>wage slips</li>
      <li>bank statements</li>
      <li>Ccouncil tax documents</li>
      <li>NHS letters</li>
      <li>school letters</li>
    </ul>

    {{ govukButton({
    text: "Upload documents",
    href: "/prototypes/beta-feb-26/upload-documents"
    }) }}

  </div>
</div>

{% endblock %}