{% extends "layouts/main.html" %}

{% set pageName="Upload documents" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div>
      <strong class="govuk-tag govuk-tag--red">
        Detected
      </strong>
      <h1 class="govuk-heading-xl">
        Document check report for scenario-1.pdf
      </h1>
    </div>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What is a document check?
        </span>
      </summary>
      <div class="govuk-details__text">
        We check each document against a set of criteria to detect possible document tampering. These checks suggest further areas to examine within your own review.
        <br>
        <br>
        These checks do not:
        <br>
        <br>
        <ul class="govuk-list govuk-list--bullet">
          <li>understand what the document is or what the information means</li>
          <li>assume relationships between other documents</li>
          <li>indicate conclusively that fraud is present</li>
        </ul>
        <br>
        If you determine further investigation is needed by a decision maker or investigations team, you may include the information provided in these checks to support your review.
      </div>
    </details>

    <h2 class="govuk-heading-m">
      Visible checks (9)
    </h2>

    <p class="govuk-body">You will need to visually inspect the document for signs of tampering by opening and viewing it.</p>

    <table class="govuk-table govuk-table--small-text-until-tablet">
      <caption class="govuk-visually-hidden">Visible anomalies found</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Document check</th>
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header">Recommendations</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Concealed text
            <br>
            <strong class="govuk-tag govuk-tag--red govuk-!-margin-top-3">
              Detected
            </strong>
          </th>
          <td class="govuk-table__cell">
            Text that has been made the same colour as the document background.
          </td>
          <td class="govuk-table__cell">
            <ol class="govuk-list govuk-list--number">
              <li>Open the document in a document viewer like Adobe Acrobat Reader.</li>
              <li>Use the selection tool and the ‘select all’ shortcut (Ctrl + A) to highlight all text and objects in the document to uncover the hidden text.</li>
              <li>Zoom in to review any differences in colour on the document.</li>
            </ol>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Edited information
            <br>
            <strong class="govuk-tag govuk-tag--red govuk-!-margin-top-3">
              Detected
            </strong>
          </th>
          <td class="govuk-table__cell">
            Differences in document quality suggest something has been added, edited or removed.
          </td>
          <td class="govuk-table__cell">
            <ol class="govuk-list govuk-list--number">
              <li>Zoom in around areas that appear blurred, jagged or off-colour. Authentic documents usually have consistent quality throughout (for example, all words or logos being crisp and clear).</li>
              <li>Check for differences in the colour or brightness of the document background as this can indicate where new content has been pasted over old content.</li>
              <li>Check for signs of manipulation which include inconsistent shadows, mismatched font alignment, and offset text.</li>
              <li>Check margins, spacing and paragraph alignment in the document. Inconsistencies may suggest copy and pasted content.</li>
              <li>Compare against similar sections, such as headers and tables, to spot inconsistencies.</li>
            </ol>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Hidden objects
            <br>
            <strong class="govuk-tag govuk-tag--red govuk-!-margin-top-3">
              Detected
            </strong>
          </th>
          <td class="govuk-table__cell">
            Original content is hidden by objects that have been placed on top of it.
          </td>
          <td class="govuk-table__cell">
            <ol class="govuk-list govuk-list--number">
              <li>Open the document in a document viewer like Adobe Acrobat Reader.</li>
              <li>Use the selection tool and the ‘select all’ shortcut (Ctrl + A) to highlight all text and objects in the document to uncover the hidden content.</li>
              <li>Zoom in to review any differences on the document.</li>
            </ol>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Text alignment
            <br>
            <strong class="govuk-tag govuk-tag--red govuk-!-margin-top-3">
              Detected
            </strong>
          </th>
          <td class="govuk-table__cell">
            The margins between text within the document are inconsistent or unusual.
          </td>
          <td class="govuk-table__cell">
            <ol class="govuk-list govuk-list--number">
              <li>Check for inconsistencies within headers, addresses, signatures and totals, paying particular attention to the first page. These are frequently altered areas.</li>
              <li>Compare left and right text margins. Uneven alignment or misaligned totals may suggest manual editing or copying and pasting from other sources.</li>
              <li>Check for consistent text alignment in words and numbers. Changes may indicate that certain words were replaced.</li>
              <li>Compare names, dates and amounts for consistency.</li>
              <li>Check if the file was emailed or printed. If any of the details are not visible or clear, request a version with full details to check for authenticity.</li>
              <li>Compare the document to any verified version you may have available for the same sender or institution.</li>
            </ol>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Text size
            <br>
            <strong class="govuk-tag govuk-tag--red govuk-!-margin-top-3">
              Detected
            </strong>
          </th>
          <td class="govuk-table__cell">
            The sizing of letters or numbers within the document are inconsistent or unusual.
          </td>
          <td class="govuk-table__cell">
            <ol class="govuk-list govuk-list--number">
              <li>Check for any font size inconsistencies within headers, addresses, signatures and totals, paying particular attention to the first page. These are frequently altered areas.</li>
              <li>Check for consistent font sizes between words, letters, and numbers. Changes in letter size may indicate that certain words were replaced.</li>
              <li>Compare the document to any verified version you may have available for the same sender or institution.</li>
            </ol>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Text spacing
            <br>
            <strong class="govuk-tag govuk-tag--red govuk-!-margin-top-3">
              Detected
            </strong>
          </th>
          <td class="govuk-table__cell">
            The spaces between text within the document are inconsistent or unusual.
          </td>
          <td class="govuk-table__cell">
            <ol class="govuk-list govuk-list--number">
              <li>Check for inconsistencies within headers, addresses, signatures and totals, paying particular attention to the first page. These are frequently altered areas.</li>
              <li>Check for consistent spacing between words, letters, and numbers. Changes in letter thickness may indicate that certain words were replaced.</li>
              <li>Compare the document to any verified version you may have available for the same sender or institution.</li>
            </ol>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Passport standard
            <br>
            <strong class="govuk-tag govuk-tag--red govuk-!-margin-top-3">
              Detected
            </strong>
          </th>
          <td class="govuk-table__cell">
            The Machine Readable Zone (MRZ) of the passport does not exactly match the global standard.
          </td>
          <td class="govuk-table__cell">
            <ol class="govuk-list govuk-list--number">
              <li>Send the document to the Document Examination Team for further examination.</li>
            </ol>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Unexpected characters
            <br>
            <strong class="govuk-tag govuk-tag--red govuk-!-margin-top-3">
              Detected
            </strong>
          </th>
          <td class="govuk-table__cell">
            Unusual characters or symbols appear in the document.
          </td>
          <td class="govuk-table__cell">
            <ol class="govuk-list govuk-list--number">
              <li>Copy and paste the text of the document into Microsoft Word and consider:
                <br>
                * if the text is misaligned or unreadable, the document might be genuine because of how characters have been ‘encoded’
                <br>
                * if the text pastes as cleanly or perfectly aligned, the document may have been edited or recreated </li>
              <li>If possible, cross-check against a previously confirmed document from the same sender or institution to compare if they have similar encoding.</li>
              <li>If the document does not appear genuine, check for other signs of manipulation (for example, hidden objects).</li>
            </ol>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Untrusted watermark
            <br>
            <strong class="govuk-tag govuk-tag--red govuk-!-margin-top-3">
              Detected
            </strong>
          </th>
          <td class="govuk-table__cell">
            The document contains an identifying watermark that suggests it was generated from an untrusted source.
          </td>
          <td class="govuk-table__cell">
            <ol class="govuk-list govuk-list--number">
              <li>Examine the document edges, background or corners for faint text or branding (watermark) that may indicate a document was not created directly by the expected sender.</li>
              <li>Use the select all shortcut (Ctrl + A) to highlight objects, annotations or transparent overlays that contain watermark text.</li>
              <li>If the watermark refers to a known fake-document site (such as template generators) escalate immediately and keep a reference list of these untrusted sources.</li>
              <li>Compare the other document checks for signs of data manipulation (for example, document origin or data changes) before making a judgement.</li>
              <li>If uncertain, compare against a verified version of the same document type.</li>
            </ol>
          </td>
        </tr>
      </tbody>
    </table>

    <br>

    <h2 class="govuk-heading-m">
      Hidden checks (4)
    </h2>

    <p class="govuk-body">You will need to inspect the document’s properties or hidden data (metadata) for signs of tampering.</p>

    <table class="govuk-table govuk-table--small-text-until-tablet">
      <caption class="govuk-visually-hidden">Hidden checks found</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Document check</th>
          <th scope="col" class="govuk-table__header">Description</th>
          <th scope="col" class="govuk-table__header">Recommendations</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Damage history
            <br>
            <strong class="govuk-tag govuk-tag--red govuk-!-margin-top-3">
              Detected
            </strong>
          </th>
          <td class="govuk-table__cell">
            This document has been damaged and repaired in the past, which may be a sign that changes were made.
          </td>
          <td class="govuk-table__cell">
            <ol class="govuk-list govuk-list--number">
              <li>If possible, first contact the claimant to ask for an alternate document.</li>
              <li>Cross-reference the other information available to check consistency between this document and claimant information.</li>
              <li>Review naming conventions to check for odd or inconsistent file names.</li>
              <li>Right-click the document to view document properties or document information, then inspect any file version history or modified timestamps.</li>
              <li>If it is available, check if there is a digital IP address, digital signature or any information on where or how the repair occurred.</li>
              <li>If you have an IP address, search online to verify whether the document originated from a plausible location (for example, from the United Kingdom).</li>
            </ol>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Data changes
            <br>
            <strong class="govuk-tag govuk-tag--red govuk-!-margin-top-3">
              Detected
            </strong>
          </th>
          <td class="govuk-table__cell">
            Unexpected changes have been made to the metadata of this document.
          </td>
          <td class="govuk-table__cell">
            <ol class="govuk-list govuk-list--number">
              <li>This document check is not suspicious alone and should be cross-referenced with other document checks and claimant information.</li>
              <li>Compare the document type against verified versions from the same sender or institution. Open the document in a viewer like Adobe Acrobat Reader to check for any visible overlays or annotations.</li>
              <li>Open the document in a viewer like Adobe Acrobat Reader to check for any visible overlays or annotations.</li>
              <li>Use the selection tool and the ‘select all’ shortcut (Ctrl + A) to highlight all text and objects in the document to uncover any hidden content.</li>
              <li>Right-click the document to view document properties or document information, then check for differences between the document’s visible content and metadata such as creation and modification information.</li>
              <li>Check for consistency between the document information and the metadata, for example if the creation date matches contextual timelines such as claim date.</li>
            </ol>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Digital signature
            <br>
            <strong class="govuk-tag govuk-tag--red govuk-!-margin-top-3">
              Detected
            </strong>
          </th>
          <td class="govuk-table__cell">
            A digital signature has been found in the document’s metadata.
          </td>
          <td class="govuk-table__cell">
            <ol class="govuk-list govuk-list--number">
              <li>This document check is not suspicious alone and should be cross-referenced with other document checks and claimant information.</li>
              <li>Consider if it is typical for this type of document to have a digital signature. A digital signature is usually added to the metadata of documents to verify their authenticity. For example, bank statements, tenancy agreements or formal contracts.</li>
            </ol>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Document origin
            <br>
            <strong class="govuk-tag govuk-tag--red govuk-!-margin-top-3">
              Detected
            </strong>
          </th>
          <td class="govuk-table__cell">
            The document was created by untrusted software.
          </td>
          <td class="govuk-table__cell">
            <ol class="govuk-list govuk-list--number">
              <li>Right-click the document to view document properties or document information, then inspect the creator or producer field.</li>
              <li>Cross-reference examples of valid and suspicious combinations of creator and document type. For example, a bank statement created in Microsoft Word should be treated as suspicious.</li>
              <li>Check for messaging, social media or screenshot creation tags that suggest that the document came from another source or was captured from a screenshot.</li>
              <li>If possible, ask the claimant for alternate evidence if the document is a screenshot or saved through messaging or social media.</li>
            </ol>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

{% endblock %}