{% extends "layouts/main-original.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Prototype catalogue
    </h1>
     <h2 class="govuk-heading-m">Latest</h2>
      <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="prototypes/DFP-993-March26/documents-none">Content March 2026</a>
      </li>
     
    </ul>
    <h2 class="govuk-heading-m">Beta</h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="prototypes/DFP-975-A/report">DFP-975 - Option A (March 2026)</a>
      </li>
      <li>
        <a class="govuk-link" href="prototypes/DFP-975-B/report">DFP-975 - Option B (March 2026)</a>
      </li>
         <li>
        <a class="govuk-link" href="prototypes/DFP-975-C/report">DFP-975 - Option C (March 2026)</a>
      </li>
      <li>
        <a class="govuk-link" href="prototypes/DFP-948/documents-none">DFP-948 - content changes (February 2026)</a>
      </li>
      <li>
        <a class="govuk-link" href="prototypes/beta-feb-26/documents-none">February 2026</a>
      </li>
      <li>
        <a class="govuk-link" href="prototypes/beta-nov-25/documents-none">November 2025</a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}