{% extends "layouts/main.html" %}

{% block pageTitle %}
Prototypes - Document Fraud Detection Service
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Prototypes
    </h1>

    <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" width="10%">Version</th>
              <th scope="col" class="govuk-table__header" width="10%">Status</th>
          <th scope="col" class="govuk-table__header" width="15%">Date added</th>
          <th scope="col" class="govuk-table__header">Change log</th>
                <th scope="col" class="govuk-table__header" width="10%">Link</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">V5</th>
             <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--blue">
              Iterating
            </strong>
          </td>
          <td class="govuk-table__cell" style="text-wrap:nowrap">August 2026</td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
                <li>Feedback link (trial GDS component)</li>
              <li>New sign-in page (content moving from toggle on document checks page)</li>
          </td>
          <td class="govuk-table__cell">
            <a href="/prototypes/V5" style="text-wrap:nowrap">View V5</a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">V4</th>
             <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Building
            </strong>
          </td>
          <td class="govuk-table__cell" style="text-wrap:nowrap">July 2026</td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>"Day two" of localisation</li>
              <li>More robust highlights and colour keys</li>
              <li>Feedback loop improvements [descoped]</li>
              <li>Sign in page improvements [descoped from this version]</li>
            </ul>
          </td>
          <td class="govuk-table__cell">
            <a href="/prototypes/V4" style="text-wrap:nowrap">View V4</a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">V3</th>
               <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--grey">
              Tested
            </strong>
          </td>
          <td class="govuk-table__cell" style="text-wrap:nowrap">June 2026</td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>"Day one" of localisation</li>
              <li>Iterations with labels only and grid</li>
              <li>Feedback loop within the service</li>
            </ul>
          </td>

          <td class="govuk-table__cell">
            <a href="/prototypes/V3" style="text-wrap:nowrap">View V3</a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">V2</th>
              <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--grey">
              Released
            </strong>
          </td>
          <td class="govuk-table__cell" style="text-wrap:nowrap">March 2026</td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>Content updates</li>
              <li>New check names and guidance added</li>
            </ul>
          </td>
      
          <td class="govuk-table__cell">
            <a href="/prototypes/V2" style="text-wrap:nowrap">View V2</a>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">V1</th>
                <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--grey">
             Released
            </strong>
          </td>
          <td class="govuk-table__cell" style="text-wrap:nowrap">November 2025</td>
          <td class="govuk-table__cell">
            <ul class="govuk-list govuk-list--bullet">
              <li>Baseline text report before new UCD members joined</li>
            </ul>
          </td>
    
          <td class="govuk-table__cell">
            <a href="/prototypes/V1" style="text-wrap:nowrap">View V1</a>
          </td>
        </tr>

      </tbody>

    </table>

  </div>
</div>

{% endblock %}