{% extends "layouts/main-original.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Prototype catalogue
    </h1>
     <h2 class="govuk-heading-m">Latest</h2>
      <ul class="govuk-list">
      <li> <a class="govuk-link" href="prototypes/DFP-1320/documents-none">Highlight localisation and feedback loop V2 - July 2026</a>
      <ul><li><a class="govuk-link" href="prototypes/DFP-1320/document-100">Shortcut: document 1 - multiple page and data checks found</a></li>
            <li><a class="govuk-link" href="prototypes/DFP-1320/document-200">Shortcut: document 2 - nothing found</a></li>
        <li><a class="govuk-link" href="prototypes/DFP-1320/document-300">Shortcut: document 3 - only data checks found</a></li>
    <li><a class="govuk-link" href="prototypes/DFP-1320/issue-feedback">Shortcut: give feedback on a result</a></li></ul>
      </li>
         
    
     
    </ul>
    <h2 class="govuk-heading-m">Tested iterations</h2>
     <ul class="govuk-list">
      <li> <a class="govuk-link" href="prototypes/DFP-1087/v1/documents-none">Hybrid localisation and feedback loop V1 - June 2026</a>
      <ul><li><a class="govuk-link" href="prototypes/DFP-1087/v1/document-100">Shortcut: document 1 - something found</a></li>
      <li><a class="govuk-link" href="prototypes/DFP-1087/v1/document-200">Shortcut: document 2 - nothing found</a></li>
    <li><a class="govuk-link" href="prototypes/DFP-1087/v1/issue-false">Shortcut: report a false positive or negative</a></li></ul>
      </li>
         
    <ul class="govuk-list">
            <li> Localisation MVP options
              <ul>
        <li><a class="govuk-link" href="prototypes/DFP-1050/v1-tab/documents-none">Localisation with highlighting</a>
      </li>
           <li>
        <a class="govuk-link" href="prototypes/DFP-1050/v2-tab/documents-none">Localisation with grid</a>
      </li> </ul>
        <li>
        <a class="govuk-link" href="prototypes/DFP-993-March26/documents-none">Content finalised - March 2026</a>
      </li>
      <li>Content "guidance" testing
     <ul>
      <li>
        <a class="govuk-link" href="prototypes/DFP-975-A/report">DFP-975 - Option A (March 2026)</a>
      </li>
      <li>
        <a class="govuk-link" href="prototypes/DFP-975-B/report">DFP-975 - Option B (March 2026)</a>
      </li>
         <li>
        <a class="govuk-link" href="prototypes/DFP-975-C/report">DFP-975 - Option C (March 2026)</a>
      </li>
      <li>
        <a class="govuk-link" href="prototypes/DFP-948/documents-none">DFP-948 - content changes (February 2026)</a>
      </li>
      </ul>
      </li>
      
      <li>
        <a class="govuk-link" href="prototypes/beta-feb-26/documents-none">February 2026</a>
      </li>
      <li>
        <a class="govuk-link" href="prototypes/beta-nov-25/documents-none">November 2025</a>
      </li>
    </ul>
  </div>
</div>

{% endblock %}