{% extends "layouts/main.html" %}

{% set pageName="Document check report" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Check report for document-3.pdf.pdf
    </h1>

    <table class="govuk-table govuk-table--small-text-until-tablet">
      <caption class="govuk-visually-hidden">Document checks detected</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Document check</th>
          <th scope="col" class="govuk-table__header">Description</th>
       
          <th scope="col" class="govuk-table__header">Result</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
           Concealed text
          </th>
          <td class="govuk-table__cell">
         Some text is the same colour as the document background.
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
              Detected
            </strong>
          </td>
        </tr>
              <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
          Covered content
          </th>
          <td class="govuk-table__cell">
           Text, shapes or images have been placed on top of other content, hiding it.
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
              Detected
            </strong>
          </td>
        </tr>
              <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
           Document quality
          </th>
          <td class="govuk-table__cell">
          Differences in document quality suggest something has been added, edited or removed.
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
              Detected
            </strong>
          </td>
        </tr>
         <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Text alignment
          </th>
          <td class="govuk-table__cell">
           Words, rows or columns do not line up as expected. 
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
              Detected
            </strong>
          </td>
        </tr>
         <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
          Text size
          </th>
          <td class="govuk-table__cell">
           The sizing of letters or numbers within the document are inconsistent or unusual.
          </td>
         
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
              Detected
            </strong>
          </td>
        </tr>
         <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
          Text spacing
          </th>
          <td class="govuk-table__cell">
          The spaces between words or characters within the document are inconsistent or unusual.
          </td>
         
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
              Detected
            </strong>
          </td>
        </tr>
              <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
          Passport code
          </th>
          <td class="govuk-table__cell">
           The Machine Readable Zone (MRZ) at the bottom of the passport does not exactly match the global standard.
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
              Detected
            </strong>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
             <span style="white-space: nowrap;">  Unexpected characters</span>
          </th>
          <td class="govuk-table__cell">
           Unusual characters or symbols appear in the document.
          </td>
         
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
              Detected
            </strong>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Untrusted branding
          </th>
          <td class="govuk-table__cell">
          The document contains secondary branding (a digital watermark) that suggests it was generated from an untrusted source. 
          </td>
         
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
              Detected
            </strong>
          </td>
        </tr>
              <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Data changes
          </th>
          <td class="govuk-table__cell">
           Unexpected changes have been made to the digital data of this file.
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
              Detected
            </strong>
          </td>
        </tr>
              <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Document origin
          </th>
          <td class="govuk-table__cell">
           This file’s digital data shows it was created by untrusted software.
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
              Detected
            </strong>
          </td>
        </tr>
              <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
           Repair history
          </th>
          <td class="govuk-table__cell">
          This file's digital data shows the file has been damaged and repaired in the past, which may be a sign that changes were digitally made to it.
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
              Detected
            </strong>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            Security code
          </th>
          <td class="govuk-table__cell">
           A security code, known as a digital signature, has been found in the digital data of this file.
          </td>
          
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
              Detected
            </strong>
          </td>
        </tr>
      </tbody>
    </table>

    

    <br>

    <h2 class="govuk-heading-m">
      How to confirm the checks
    </h2>

    <h3 class="govuk-heading-s"> 
     Concealed text or covered content
    </h3> 
      <p class="govuk-body">Select all information in the document to highlight any empty selections that may be hiding text in important areas, such as the address or amounts of money.</p>

    <h3 class="govuk-heading-s">
     Document quality
    </h3>

    <p class="govuk-body">Zoom in around areas that appear blurred, jagged or off-colour in comparison to the rest of the document. This may be a sign that changes were made or that the document was created from different sources. </p>

    <h3 class="govuk-heading-s">
     Text alignment, size or spacing
    </h3>

    <p class="govuk-body">Compare how letters, numbers and words line and size up to each other. Anything that seems out of place may be a sign that something was replaced or removed. </p>

    <h3 class="govuk-heading-s">
     Passport code
    </h3>

    <p class="govuk-body">Send the document to the Document Examination Team for further examination.</p>

    <h3 class="govuk-heading-s">
     Unexpected characters
    </h3>

    <p class="govuk-body">Select all document content and copy it into a text editor like Microsoft Word. </p>

   <p class="govuk-body"> If it is mostly symbols with a few recognisable words in important places, like names, address or transactions, it may be a sign that changes were made. </p>

    <p class="govuk-body">If you are only able to copy certain words, this may be a sign that they were added later. 
  </p>
  <h3 class="govuk-heading-s">
    Untrusted branding
    </h3>

    <p class="govuk-body">Zoom in to search for a second logo or brand that should not be there. For example, a utility bill should not have branding for a freelance or template website.  </p>
    <h3 class="govuk-heading-s">
    Data changes or repair history
    </h3>

    <p class="govuk-body">These checks relate to the document's digital data. You will not be able to confirm these checks yourself. </p>

    <p class="govuk-body">Our checks have detected that something unexpected has happened to the file. We would not expect this with an original file.
 </p>
<h3 class="govuk-heading-s">
    Document origin
    </h3>

    <p class="govuk-body">This check relates to the document's digital data. You will not be able to confirm this check yourself unless you can access the file's properties.  </p>
    <p class="govuk-body">This file was created by software that we do not expect for genuine documents.</p>
    <h3 class="govuk-heading-s">
    Security code
    </h3>

    <p class="govuk-body">This check relates to the document's digital data. You will not be able to confirm this check yourself. </p>
    <p class="govuk-body">It is usually a sign of a document's authenticity if no other document checks have been detected. </p>
    <p class="govuk-body">For example, if this check appears with covered content or data changes, it may be a sign that the original document was altered. </p>
  </div>
</div>

{% endblock %}