{% extends "layouts/main.html" %}

{% set pageName="Damaged file error" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
     Damaged file error
    </h1>

  

    
      <p class="govuk-body">We cannot check this document because the file is damaged.</p>

       <p class="govuk-body">Request a new version of this file to upload and try again. </p>
           <p class="govuk-body">Return to your current <a href="documents">document check reports</a> or <a href="upload-documents">upload a new document</a>. 
</p>

  </div>
</div>

{% endblock %}