{% extends "layouts/main.html" %}

{% set pageName="Document check report" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Check report for document-4.pdf
    </h1>

    <p class="govuk-body">We did not find anything when checking this document.</p>

    <p class="govuk-body">If you identify a pattern within the document that still leads you to suspect the document is not genuine, refer the document to the relevant investigations team or decision maker.</p>

    <details class="govuk-details govuk-!-width-two-thirds">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Checks with nothing found in the results
        </span>
      </summary>
      <div class="govuk-details__text">
        <table class="govuk-table govuk-table--small-text-until-tablet">
          <caption class="govuk-visually-hidden">Document checks detected</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Document check</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Result</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Concealed text
              </th>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Not found
                </strong>
              </td>
            </tr>
             <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Covered content
              </th>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Not found
                </strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Document quality
              </th>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Not found
                </strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Passport code
              </th>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Not found
                </strong>
              </td>
            </tr>
             
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
               Text alignment
              </th>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Not found
                </strong>
              </td>
            </tr>
              <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Text size
              </th>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Not found
                </strong>
              </td>
            </tr>
             <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
              Text spacing
              </th>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Not found
                </strong>
              </td>
            </tr>
              <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Unexpected characters
              </th>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Not found
                </strong>
              </td>
            </tr>
             <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Untrusted branding
              </th>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Not found
                </strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Data changes
              </th>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Not found
                </strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Document origin
              </th>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Not found
                </strong>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                Repair history
              </th>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Not found
                </strong>
              </td>
            </tr>
             <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
               Security code
              </th>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                  Not found
                </strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>

 

    

   

  </div>
</div>

{% endblock %}